@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.animate-tilt-left {
  animation: tilt_left 1.5s ease-out forwards;
}

.animate-tilt-right {
  animation: tilt_right 1.5s ease-out forwards;
}

.animate-rotate {
  animation: rotation 2s ease-in-out infinite;
}

@keyframes {
}

@keyframes tilt_left {
  50% {
    transform: rotate(-10deg) translateX(-60px);
  }
  100% {
    transform: rotate(-10deg) translateX(-60px);
  }
}
@keyframes tilt_right {
  50% {
    transform: rotate(10deg) translateX(60px);
  }
  100% {
    transform: rotate(10deg) translateX(60px);
  }
}
